
.books{
    margin:0px 150px;
}
.button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #8b8a8d;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
 h2 {
    display: inline-block;
    margin-right: 1020px;
    margin-bottom: 40px;
 }

 .login-form{
    width: 50%;
    margin: 0 150px;
 }


 footer{
 text-align: center;
 height: 50px;
 margin-top: 170px;
 }
 i {
    font-size: 20px;
    text-align: right;
    margin: 10px;
    color: gray;
    margin-right: 250px;
 }
 .cardImg{
    width: 388px;
    height: 388px;
    margin-bottom: 10px;
}
 .cardText{
    height: 260px;
    margin-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 .cardEmail{
     color: blue;
     text-decoration: underline;
 }

 .login-card{
    width: 40rem;
    margin: 170px auto 0;
    text-align: center;
 }
 .login-card button{
    width: 10rem;
    margin: 20px;
    font-size: 1.5em;
 }
 .login-card .h5{
    font-size: 2em;
 }
 .login-card p{
    color: gray;
 }